<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "com.phonegap.example"
		versionCode = "10"
		version = "1.0.0">
 
		<name>Harridura</name>
		<description>
			Harridurazko perpausak lantzeko 'itzulpentegia'
		</description>
		  
		<author href="www.praiskopedia.com" email= "praiskopedia@gmail.com">
			Praisko
		</author>

</widget>
  
